# 1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [24]:
a=()
l=101
for x in range(1,l):
    if x%15==0:
        x="MickeyMouse"
    elif x%3==0:
        x="Mickey"
    elif x%5==0:
        x="Mouse"
    print(x)
    a+=(x,)  
a=list(a)
for x in range(1,l):
    try:
        a[x]=a[x].replace("Mouse","Duck")
        a[x]=a[x].replace("Mickey","Donald")
    except:()
        
a=tuple(a)
print(a)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [54]:
def myswap(a,b): 
    return b,a;
a=4
b=5
a,b=myswap(a,b)

print("a=%0i \nb=%0i"%(a,b))

a=5
b=4

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [61]:
import math
def distance(u,v):
    result=(u[0]-v[0])**2 + (u[1]-v[1])**2
    return math.sqrt(result)

distance([0,4],[3,0])

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [8]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
tmp=s.lower()
x=0
while x<len(tmp):      
    print(tmp[x],"=%0i"%(tmp.count(tmp[x])))
    s=tmp[:x+1]+tmp[x+1:].replace(tmp[x],"")
    tmp=s
    x+=1

w =2
r =17
i =14
t =19
e =22
  =41
a =7
p =8
o =13
g =1
m =12
h =9
n =10
s =9
u =9
b =5
f =10
1 =2
0 =2
. =2
l =6
c =3
k =2
y =2
d =3
v =2

In [7]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
t=list(set(s.lower()))
t.sort()
for x in t: print(x,"=",(s.lower()).count(x))

  = 41
. = 2
0 = 2
1 = 2
a = 7
b = 5
c = 3
d = 3
e = 22
f = 10
g = 1
h = 9
i = 14
k = 2
l = 6
m = 12
n = 10
o = 13
p = 8
r = 17
s = 9
t = 19
u = 9
v = 2
w = 2
y = 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [11]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def myfunc(a):
    a=list(a)
    i=0
    b=()
    counter=0
    for i in range(len(a)):
        if a.count(a[i])==1:
            b+=(a[i],)
            counter+=1
    print("The total number of unique numbers is: %0i"%(counter))
    print("The unique numbers are:",b)
    return

myfunc(l)

The total number of unique numbers is: 37
The unique numbers are: (58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53)

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [12]:
def mysquare(a):
    return a*a
def mycube(a):
    return a*a*a
def mysix(a):
    return(mysquare(mycube(a)))

print(mysix(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [19]:
x=0
l=[]
for x in range(11):
    l.append(x*x)
print("for loop list:",l)

y=0
j=[x*x for x in range(11)]
print("comprehension list:",j)

for loop list: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
comprehension list: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [22]:
import math
t=[(x,y,int(math.sqrt(x*x+y*y))) for x in range(1,101) for y in range(x,101) if (math.sqrt(x*x+y*y)<101 and math.sqrt(x*x+y*y)%1==0) ]
print(t)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [23]:
t=(1,2,3)
def mynorm(a):
    x=0
    a=list(a)
    n=sum(a)
    for x in range(len(a)):
        a[x]=a[x]/n
    a=tuple(a)
    return a
mynorm(t)

(0.16666666666666666, 0.3333333333333333, 0.5)